.container {
  padding-bottom: 1rem;
}

.file-container {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #aaa;
  position: relative;

  label {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    display: block;
    margin: -1rem;
    padding: 1rem;
  }

  label:hover {
    background-color: rgb(246, 244, 237);
  }

  input#singleFile {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    left: -1000vw;
    z-index: 1;
  }

  .file-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    .file-details {
      flex: 2;
      display: flex;
      align-items: baseline;
      gap: .25rem;

      .file-name {
        display: inline;
        font-size: 1em;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
      }

      .file-size {
        opacity: .8;
        white-space: nowrap;
      }
    }
  }
}

.radio-container {
  margin: {
    top: 1rem;
  }

  .mat-radio-group {
    display: flex;
    flex-flow: column;
    gap: .5rem;
  }
}
