<ng-container *ngIf="(product$ | async) !== null; else notFound">
  <ng-container *ngIf="product$ | async; let product; else loading">
    <h1>{{product.name}}</h1>
    <img class="image" src="{{product.image}}"/>
    <p>{{product.description}}</p>
    <app-select-item-amount (onAmountChange)="setAmount($event)"></app-select-item-amount>
    <button mat-button (click)="addToCart()">Ad to cart</button>
  </ng-container>
</ng-container>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>

<ng-template #notFound>
  <p>Product not found</p>
  <a [routerLink]="[routes.shop]"></a>
</ng-template>

