<h2>Dashboard</h2>
<div>
  <mat-tab-group animationDuration="400ms">
    <mat-tab label="Items">
      <ng-template matTabContent>
        <section class="tab-content">
            <admin-items></admin-items>
        </section>
      </ng-template>
    </mat-tab>
    <mat-tab label="Orders">
      <ng-template matTabContent class="tab-content">
        <section class="tab-content">
            <admin-orders></admin-orders>
        </section>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
