.items-container {
    padding: 1rem;
}

.items-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: .5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}