<mat-toolbar color="primary">
  <button mat-icon-button class="nav-button" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>
  <span class="spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" (click)="goToCart()" aria-label="Example icon-button with heart icon">
    <mat-icon matBadge="{{cartLength}}" matBadgeColor="warn" matBadgeSize="small">
      <span class="material-icons-outlined">shopping_cart</span>
      <span class="cdk-visually-hidden">
        You have {{cartLength}} products in your cart.
      </span>
    </mat-icon>
  </button>
  <button mat-icon-button [mat-menu-trigger-for]="userMenu" aria-label="Account button">
    <mat-icon>
      <span *ngIf="!user" class="material-icons-outlined">account_circle</span>
      <img *ngIf="user" class="account-button-image" src={{user?.photoURL}} />
    </mat-icon>
  </button>
</mat-toolbar>

<mat-menu #userMenu="matMenu">
  <app-private-menu></app-private-menu>
</mat-menu>