.example-spacer {
    flex: 1 1 auto;
}

button {
    border: none !important;
    cursor: pointer;

    .account-button-image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.nav-button {
    padding-right: calc(6px + 16px);
}