.shipping-types {
  li {
    display: flex;

    .mat-radio-button {
      flex: 1;
      display: flex;
      background-color: #f8f8f8;
      margin-bottom: .25rem;
      padding: .5rem;
    }

    .mat-radio-label {
      padding: 1rem;
      border: 1px solid #ccc;
      display: flex;
      flex: 1;
    }

    .mat-radio-label-content {
      flex: 1;
    }

    .shipping-details {
      display: grid;
      grid-template-columns: auto 5rem;
      grid-template-areas:
        'name price'
        'days .';
      column-gap: .5rem;

      span {
        display: block;
      }
    }

    .shipping-name {
      grid-area: name;
      font-weight: bold;
    }

    .shipping-days {
      grid-area: days;
    }

    .shipping-price {
      grid-area: price;
    }
  }
}
