@use 'src/globals'as g;

#main-navbar {
  position: sticky;
  top: 0;
  box-shadow: 0 4px 4px -2px rgb(0 0 0 / 22%);
  z-index: 500;
}

button {
  border: none !important;
}

.container {
  flex: 1;
  padding: 1rem;
}
