@import "src/globals";

.item {
  padding: .15rem;
  box-shadow: 0px 1px 6px -4px #333;
  display: flex;
  flex-flow: column;
  background-color: #fafafa;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: all 200ms ease;

  &:hover {
    box-shadow: 0px 4px 6px -4px #333;
    transform: translateY(-2px);
  }

  @media only screen and (max-width: $mobile-width) {
    flex-flow: row;
    box-shadow: none;
    background-color: #ffffff;
    // border-bottom: 1px solid #ccc;
  }

  &:hover {
    .name {
      text-decoration: underline;
    }
  }

  img {
    height: 15rem;
    max-width: 100%;
    background-color: #ffffff;
    margin-bottom: .5rem;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;

    @media only screen and (max-width: $mobile-width) {
      height: 5rem;
      width: 5rem;
    }
  }

  .details-container {

    padding: 0 .75rem;
    box-sizing: border-box;
    overflow: hidden;

    @media only screen and (max-width: $mobile-width) {
      padding: .75rem;
    }

    .name {
      width: 100%;
      opacity: .8;
      text-align: left;
      font-size: 1.2em;
      text-transform: capitalize;

      padding: {
        top: .5rem;
        bottom: .5rem;
      }

      margin: 0;
      white-space:nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #005b09;
    }

    .price {
      width: 100%;
      text-align: left;
      font-size: 1.25em;
    }
  }
}
