header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .mat-slide-toggle {
        font: initial;
        font-weight: normal;
        font-size: initial;
    }
}

.container {
    position: relative;
}

.spinner-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.589);
    z-index: 10;
}

.mat-dialog-content {
    max-height: none;
    padding-bottom: .5rem;
}