.container {
  padding: 1em 0;
  position: relative;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 5rem auto;
  grid-template-rows: auto;
  grid-template-areas: "image name"
    "image price"
    "image amount-box";
  align-items: center;
}

.image {
  grid-area: image;
  width: 100%;
  aspect-ratio: 3/4;
  object-position: center;
  object-fit: cover;
  border-radius: 3px;
}

.name {
  grid-area: name;
  margin: 0;
}

.amount-box {
  grid-area: amount-box;
  display: flex;
  align-items: center;

  .separator {
    opacity: .5;

    margin: {
      left: 1.5em;
      right: 1em;
    }
  }

  button {
    padding: 0;
  }
}

.price {
  grid-area: price;
  font-weight: bold;
}
