<div class="container" *ngIf="product$ | async; let product">
  <img class="image" src="{{product.image}}" />
  <h3 class="name">{{product.name}}</h3>
  <div class="amount-box">
    <app-select-item-amount [itemId]="product.id" (onAmountChange)="setAmount($event)"></app-select-item-amount>
    <span class="separator">|</span>
    <button mat-button color="warn" aria-label="Remove product from cart"
      (click)="openDialogAndRemoveItemIfUserConfirm()">
      Remove
    </button>
  </div>
  <div class="price">{{product.price | currency:'EUR'}}</div>
</div>
